{% extends "base.html" %}


{% block page_name %}
    {{room.name}}
{% endblock page_name %}

{% block content %}
<div>
    <h1>{{ room.name }}</h1>
    <h3>{{ room.description }}</h3>
</div>
    <div>
    <h2>By: {{ room.host.username }}
        {% if room.host.superhost %}
        (superhost)
        {% endif %}
     </h2>
    <h4>Amenities</h4>
    <ul>
    {% for a in room.amenities.all %}
        <li>{{ a }}</li>
    {% endfor %}
    </ul>

    <h4>Facilities</h4>
    <ul>
    {% for a in room.facilities.all %}
        <li>{{ a }}</li>
    {% endfor %}
    </ul>

    <h4>House Rules</h4>
    <ul>
    {% for a in room.house_rules.all %}
        <li>{{ a }}</li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}